body {
  text-align: center;
  background-color: #f8f9fa
}

table {
  margin: 0 auto;
}

td {
  padding: 1em;
}

hr {
  margin: 0 20%;
}

.col-6 {
    background-color: #f8f9fa;
}

.col {
  background-color: #f8f9fa;
  margin-left: auto;
  margin-right: auto;
  width: 8em
}

.navbar {
  background-color: black
}

.logo {
  width: 5%
}

.btn-outline-secondary {
  margin-bottom: 20px;
}
